<body oncontextmenu="return false">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-3 " id="main-nav">
    <div class="container">
      <a href="index.html" class="display 2 navbar-brand">Student Management System</a>
    </div>
  </nav>

  <div class="container">
    <div class="card">
      <div class="card-body">

        <div class="form-group">
          <div class="form-row">
            <div class="col-md-4"><h4>Enter Username</h4></div>
            <div class="col">
              <input class="form-control" type="text" autocomplete="false" [readonly]="!btn1"
              [(ngModel)]="u.username" name="username"></div>
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg" (click)="getOTP()" 
          >Send OTP</button>
        </div>

        <div [hidden]="!btn2">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-4"><h4>Enter OTP</h4></div>
              <div class="col"><input class="form-control" type="password" [(ngModel)]="userOTP"></div>
            </div>
          </div>
          
          <div class="form-group">
            <button class="btn btn-danger btn-lg" (click)="checkOTP()"
            >Confirm OTP</button>
          </div>
        </div>

        <div [hidden]="!btn3">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-4"><h4>Enter New Password</h4></div>
              <div class="col"><input class="form-control" type="password"></div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-4"><h4>Confirm New Password</h4></div>
              <div class="col"><input class="form-control" type="password" [(ngModel)]="u.password"></div>
            </div>
          </div>

          
          <div class="form-group">
            <button class="btn btn-primary btn-lg"(click)="changePassword()"
            >Reset Password</button>
          </div>
          </div>
      </div>
    </div>
  </div>


</body>