body {
    background: #333;
    color: #fff;
  }
  
  .navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
  }
  
  #home-section {
    background-image:url('https://ranking.jagranjosh.com/upload/1554436322MIT%20ADT%20building.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 650px;
    background-position: 0px -37px;
  }
  
  #home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 650px;
    background: rgba(0, 0, 0, 0.7);
    background-position: 0px -37px;
  }
  
  #home-section .home-inner {
    padding-top: 150px;
  }
  
  #home-section .card-form {
    opacity: 0.8;
  }
  
  #home-section .fas,
  #create-section .fas {
    color: #008ed6;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
  }

#explore-section .fas,
#share-section .fas {
  background: #333; 
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

#explore-section {
  /* background-image:url('https://wallpaperplay.com/walls/full/1/e/e/312869.jpg'); */
  background-image:url('../../../assets/new/10.jpg');

    min-height: 450px;
    background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  
}

#create-head-section{
  background-image:url('../../../assets/new/6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.dark-overlaye{
  width: 100%;
  background: rgba(0, 0, 0, 0.55);
}

.github{
  color: white;
}

.github :hover{
  transform: translateY(-10px);
  color: rgb(0, 0, 0);
}

.linkd :hover{
  transform: translateY(-10px);
}

.insta{
  color: rgba(36, 36, 255, 0.884);
}

.insta :hover{
  transform: translateY(-10px);
  color: red;
}

.who :hover{
  cursor: pointer;
}

.card{
  box-shadow: 10px 10px 10px rgb(0, 0, 0,0.55);
}

