

<body data-spy="scroll"  data-target="#main-nav" id="home">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark  fixed-top" id="main-nav">

    <div class="container">
      <a href="" class="display navbar-brand">
          <img src="../../../assets/logo_1.png" 
          width="30" height="30" 
          class="d-inline-block align-top" alt="" loading="lazy">
          Student Management System
        </a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="#home" class="nav-link">Home</a>
          </li>

          <li class="nav-item">
            <a href="#explore-head-section" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#specs" class="nav-link">Specs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header id="home-section">
      <div class="dark-overlay">
          <div class="home-inner container">
              <div class="row">
              <!-- Text next to login SECTION -->
              <div class="col-lg-8 d-none d-lg-block">
                  <h1 class="display-4">
                      Lorem <strong>ipsum</strong> dolor sit amet.
                  </h1>
                  <div class="d-flex justify-content-start">
                      <div class="p-4 justify-content-center">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, pariatur laboriosam perferendis eligendi numquam minima temporibus aliquam dicta non quibusdam!
                      </div>
                  </div>
  
                  <div class="d-flex justify-content-start">
                      <div class="p-4 justify-content-center">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, pariatur laboriosam perferendis eligendi numquam minima temporibus aliquam dicta non quibusdam!
                      </div>
                  </div>
  
                  <div class="d-flex justify-content-start">
                      <div class="p-4 justify-content-center">
                          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, maiores! {{user | json}}
                      </div>
                  </div>
              </div>
  
              <!--login SECTION -->
              <div class="col-lg-4">
                  <div class="mt-5">
                      <div  class="card bg-primary text-center card-form mt-10">
                          <div class="card-body">
                              <h3>Login</h3>
                              <form (ngSubmit)="submit()">
                                  <div class="form-group">
                                      <input hidden=true type="text" class="form-control form-control-lg" placeholder="Username">
                                  </div>
                                  <div class="form-group input-group margin-bottom-sm">
                                    <span class="input-group-addon"><i class="fa fa-2x fa-envelope-o fa-fw"></i></span>
                                    <input class="form-control" type="text" placeholder="Username" name="username"
                                    (change)="checkUsername()"
                                    [(ngModel)]="user.username" >

                                  </div>
                                  <div class="form-group input-group margin-bottom-sm">
                                    <input class="form-control" type="password" placeholder="Passwrd" name="paswd"
                                    [(ngModel)]="user.password">

                                    <span class="input-group-addon"><i class="fa fa-2x fa-key fa-fw"></i></span>
                                  </div>

                                  <div class="form-group">
                                      <input hidden=true type="password" class="form-control form-control-lg" placeholder="Password">
                                  </div>
                                  <input type="submit" value="Submit" class="btn btn-outline-light btn-block">
                                  <div class="d-flex flex-column justify-content-center font-weight-bold">
                                      <div class="mt-1">
                                          <a href="#" class="text-dark">Forgot Password</a>
                                      </div>
                                      <div class="p-1">
                                          <a href="/register-new-user" class="text-dark">Register New</a>
                                      </div>
                                  </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </header>



  <section id="explore-head-section">
      <div class="">
        <div class="container">
          <div class="row">
            <div class="col text-center py-5">
              <h1 class="display-4">About Me</h1>
              <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente doloribus ut iure itaque quibusdam rem accusantium
                deserunt reprehenderit sunt minus.</p>
                <a href="https://www.linkedin.com/in/huzefa-galiakotwala-b24b0318a/">
                  <i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>
              </a>
  
              <a class="github" href="https://github.com/Huzjtg">
                <i class="fa fa-git fa-3x" aria-hidden="true"></i>
              </a>
              <a class="insta" href="https://www.instagram.com/huzefajtg/">
                <i class="fa fa-instagram fa-3x"  aria-hidden="true"></i>
              </a>
              <div style="color:rgba(255, 2, 2, 0.74);">
                <i class="fa fa-google fa-2x" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- EXPLORE SECTION <img src="https://instagram.fdel21-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/65562013_148398246341385_7271977922324335114_n.jpg?_nc_ht=instagram.fdel21-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=kbSW8CwVtvwAX9YbM2j&oh=00f5161098cb13a8b97dee7f4cd49c8a&oe=5F09727E" 
              alt="" class="img-fluid mb-3 rounded-circle" style="opacity: 85%;"> -->
    <header id="explore-section" class="">
      <div class="dark-overlaye text-white py-5">
        <div class=" container">
          <div class="row">
            <div class="col-md-6">
              <img src="https://instagram.fdel21-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/65562013_148398246341385_7271977922324335114_n.jpg?_nc_ht=instagram.fdel21-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=kbSW8CwVtvwAX9YbM2j&oh=00f5161098cb13a8b97dee7f4cd49c8a&oe=5F09727E" 
              alt="" class="img-fluid mb-3 rounded-circle" style="opacity: 85%;">
            </div>
            <div class="col-md-6">
              <h3>Explore & Connect</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore reiciendis, voluptate at alias laborum odit aliquid
                tempore perspiciatis repudiandae hic?</p>
              <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="fas fa fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi distinctio iusto, perspiciatis mollitia natus harum?
                </div>
              </div>
    
              <div class="d-flex">
                <div class="p-4 align-self-start">
                  <i class="fas fa fa-check fa-2x"></i>
                </div>
                <div class="p-4 align-self-end">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi distinctio iusto, perspiciatis mollitia natus harum?
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section id="specs" class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col text-center py-5">
            <h1 class="display-4">Specifications</h1>
            <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente doloribus ut iure itaque quibusdam rem accusantium
              deserunt reprehenderit sunt minus.</p>
          </div>
        </div>
      </div>
    </section>
  
    <!-- CREATE SECTION -->
    <section id="create-head-section" class="py-5">
      <div class="container">
        <h2 class="text-center">Create Your Passion</h2>
        <div class="row">
          <div class="col-md-6 order-2">
            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-center">
                <h4>API</h4>
                <p>ASP.NET Core 2.0</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 order-1">
            
            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                <h4>Database</h4>
                <p>Microsoft SQL Server</p>
              </div>
            </div>
  
            <div class="d-flex">
              <div class="p-4 align-self-start">
                <i class="fas fa fa-check fa-2x"></i>
              </div>
              <div class="p-4 align-self-end">
                <h4>Front End</h4>
                <p>Angular CLI</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <footer  style="background-color: wheat; color: black;">
      <div class="container-fluid">
        <div class="">
          <div class="text-center py-4">
            <h3>Student Management System</h3>
            <span>By Huzefa Galiakotwala | 2020</span> <br>
            <span>version Unreleased</span>
          </div>
        </div>
      </div>
    </footer>

  <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script>
      const scroll = new SmoothScroll('a[href*="#"]',{
        speed:800
      });
    </script>
</body>