<body id="bodypart">
  <nav-menu [iswhereN]="iswhere" [Nid]=id></nav-menu>
  

  <h1>Student Name : {{ studentInfo.personalInfo.firstName }} 
    {{ studentInfo.personalInfo.lastName }} </h1>


  <div class="container">
    
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link  active" href="#StuPInfo" role="tab" data-toggle="tab">Student Information</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#courses" role="tab" data-toggle="tab">Student Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#extra" role="tab" data-toggle="tab">Extra</a>
          </li>
          
        </ul>
      </div>
      <div class="card-body">
        <div class="tab-content">
          <div class="tab-pane active" role="tabpanel" id="StuPInfo">
            <table class="table">
              <tbody>

                <div class="row">
                  <div class="col-4">Name</div>
                  <div class="col text-capitalize">{{ studentInfo.personalInfo.firstName }} 
                    {{ studentInfo.personalInfo.secondName }} 
                    {{ studentInfo.personalInfo.lastName }}</div>
                </div>

                <div class="row">
                  <div class="col-4">DOB</div>
                  <div class="col text-capitalize">{{ studentInfo.personalInfo.dob }}</div>
                </div>

                <div class="row">
                  <div class="col-4">Email</div>
                  <div class="col text-capitalize">{{ studentInfo.personalInfo.emailId }}</div>
                </div>

                <div class="row">
                  <div class="col-4">Contact Number</div>
                  <div class="col text-capitalize">{{ studentInfo.personalInfo.contactNumber }}</div>
                </div>

                <div class="row">
                  <div class="col-4">Address</div>
                  <div class="col text-capitalize">{{ studentInfo.personalInfo.contactAddress }} </div>
                </div>

                <div class="row">
                  <div class="col-4">Gender</div>
                  <div class="col text-capitalize">
                    <div *ngIf="studentInfo.personalInfo.gender=='M'">
                      <i class="fa fa-mars" aria-hidden="true"></i> Male
                    </div>

                    <div *ngIf="studentInfo.personalInfo.gender=='F'">
                      <i class="fa fa-venus" aria-hidden="true"></i> Female
                    </div>
                  </div>
                </div>

                <div *ngIf="type=='T'">
                  <div class="row">
                    <div class="col-4">Course </div>
                    <div class="col text-capitalize">{{ studentInfo.course.courseId }} - {{ studentInfo.course.courseName }} </div>
                  </div>
  
                  <div class="row">
                    <div class="col-4">Subject </div>
                    <div class="col text-capitalize">{{ studentInfo.subjectInfo.id }} - {{ studentInfo.subjectInfo.name }}
                      </div>
                  </div>
                  <div class="row">
                  <div class="col-4">HOD </div>
                  <div class="col text-capitalize">{{ studentInfo.hod.name }}
                    </div>
                </div>

                </div>

              </tbody>
            </table>
          </div>

          <!--                          STUDENT INFORMATION FOR THE TEACHER                         -->
          <div class="tab-pane" role="tabpanel" id="courses">
            <div *ngIf="type=='T'">
              <table class="table table-striped table-hover ">
                <thead>
                  <tr>
                    <th scope="col">Id
                      </th>
                    <th scope="col">
                      Name
                    </th>
                    <th scope="col">Emaid</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Registered</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of allStudents" (click)="RowSelected( item.studentId )">
                    <th scope="row" class="selid">{{ item.studentId }}</th>
                    <td>{{ item.personalInfo.firstName }} {{ item.personalInfo.lastName }}</td>
                    <td>{{ item.personalInfo.emailId }}</td>
                    <td>{{ item.personalInfo.contactNumber }}</td>
                    <td>
                      <div *ngIf="item.personalInfo.isReg">
                        <i class="fa fa-check" aria-hidden="true"></i>
                      </div>
                      <div *ngIf="!item.personalInfo.isReg">
                        <i class="fa fa-times" aria-hidden="true"></i>
                      </div>
                    </td>
                  </tr>
            
                </tbody>
              </table>
            </div>

          <div *ngIf="type=='S'">
            <div class="row">
              <div class="col"><strong>Course Name</strong></div>
              <div class="col"><strong>Teacher Name</strong></div>
              <div class="col"><strong>Department HOD</strong></div>
            </div>

            <div class="row" *ngFor="let item of studentInfo.teacherInfo" >
              <div class="col">{{ item.course.courseName }}</div>
              <div class="col text-capitalize">{{ item.personalInfo.firstName }} 
                {{ item.personalInfo.lastName }}
              </div>
              <div class="col">
                {{ item.hod.name }}
              </div>

            </div>
          </div>
          </div>
          <div class="tab-pane" role="tabpanel" id="extra">1</div>
        </div>
      </div>
    </div>
  </div>
</body>