<body>
  <nav-menu [iswhereN]="iswhere" [Nid]=id></nav-menu>
  


  <div class="container">
    <h5>{{ user | json }}</h5>
    <form>
      <div class="card mb-3" >
        
        <div class="container">
          <button class="btn btn-success mt-3" [hidden]="isUpdate" (click)="isUpdate=!isUpdate">Update Personal Info
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          
        </div>

        <div class="card-body" >
          <div class="form-group">

            <label for="nameInput">Name</label>
            <div class="form-row">

              <div class="col-sm">
                <label>First Name</label>
                <input name="fname" class="form-control" type="text" placeholder="{{ user.personalInfo.firstName }}"
                [(ngModel)]="user.personalInfo.firstName" [readonly]="!isUpdate"
                required>
              </div>
              <div class="col-sm">
                <label class="">Second Name</label>
                <input name="sname" class="form-control" type="text" placeholder="{{ user.personalInfo.secondName }}"
                [(ngModel)]="user.personalInfo.secondName" [readonly]="!isUpdate"
                >
              </div>
              <div class="col-sm">
                <label>Last Name</label>
                <input name="lname" class="form-control" type="text" placeholder="{{ user.personalInfo.lastName }}"
                [(ngModel)]="user.personalInfo.lastName" [readonly]="!isUpdate"
                >
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <label for="gender">Gender</label>
            
            <div class="form-check">
              <input class="form-check-input" id="female" name=gender type="radio" value="F"
              [(ngModel)]="user.personalInfo.gender" [disabled]="!isUpdate">
              <label for="female">Female</label> 
          </div>
            <div class="form-check">
                <input class="form-check-input" id="Male" name="gender" type="radio" value="M"
                [(ngModel)]="user.personalInfo.gender" [disabled]="!isUpdate">
                <label for="Make">Male</label> 
            </div>

          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col">
                Email
                <input id="email" class="form-control" type="email" placeholder="yourname@example.com" name="email"
                [(ngModel)]="user.personalInfo.emailId" [readonly]="!isUpdate">
                
              </div>

              <div class="col">
                Contact Number
                <input id="contactNum" class="form-control" type="text" placeholder="Enter Phone Number" name="conNum"
                [(ngModel)]="user.personalInfo.contactNumber" [readonly]="!isUpdate">

              </div>
            </div>
          </div>  
          <div class="form-group">
              <label for="adress">Adress</label>
                <input type="text" name="address" class="form-control" 
                [(ngModel)]="user.personalInfo.contactAddress" [readonly]="!isUpdate">
          </div>

          <div class="form-group">
              <label for="adress">Date Of Birth</label>
                <input type="text" name="dob" class="form-control" placeholder="DD/MM/YYYY"
                [(ngModel)]="user.personalInfo.dob" [readonly]="!isUpdate">
          </div>

          

          
          

          <button class="btn btn-success mt-3" [hidden]="isUpdateCourse" 
          (click)="getCourses()"
          (click)="isUpdateCourse=!isUpdateCourse">
            <i class="fa fa-book" aria-hidden="true"></i>Course Details</button>
          <div class="card mt-3" [hidden]="!isUpdateCourse" >

            <div class="card-body">
            <h4>Course Details</h4>
            
              <div>
                <label>Subject</label>
                <select (change)="OnSubjectChange()" class="form-control" name="subject" [(ngModel)]="subjectId">
                  <option></option>
                  <option *ngFor="let subject of courses" value="{{ subject.subjectId }}">
                    {{ subject.subjectName }}
                  </option>
                </select>
              </div>

              <div>
                <label>Course</label>
                <select class="form-control" name="subject" [(ngModel)]="courseId">
                  <option></option>
                  <option *ngFor="let item of coursesSelect.courses" value="{{ item.courseId }}">
                    {{ item.courseName }}
                  </option>
                </select>
              </div>

            </div>
          </div>

          <button class="btn btn-warning mt-3" [hidden]="!isUpdate" [hidden]="!isUpdateCourse"
          (click)=submit()>Update</button>
      <button class="btn btn-danger mt-3" [hidden]="!isUpdate" [hidden]="!isUpdateCourse"
          (click)="canceled()">Cancel</button>

        </div>
        <br>  
          

      </div>
    </form>
  </div>
</body>
