.dropbtn {
    border: none;
}

.dropdownd {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: block;
    position: absolute;
    /* background-color: lightgrey; */
}

/* .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
} */
/* 
.dropdown-content a:hover {background-color: white;}
.dropdownd:hover .dropdown-content {display: block;} */


.navbar ul li:hover{
    cursor: pointer;
}

nav ul li :hover{
    background-color: black;
}
/* 
.nav-item:hover .fa{
} */

.update{
    display: block;
    position: absolute;
    text-decoration: none;
}

.mypro{
    width: 150px;
    height: 45px;
}

