<body id="bodypart">
  <nav-menu [iswhereN]="iswhere" [Nid]=id></nav-menu>
  

  
<div class="container">

  <div class="form-group card">
    <div class="card-body  bg-light">
      <label for="search">Search</label> 
        <input id="search" class="form-control well" type="text" 
        placeholder="Enter Student Name or Student ID" name="searchval"
        [(ngModel)]="searchVal"
        (ngModelChange)="searcher()">
    </div>
  </div>

<span class="mb-3">
  <div >/*Add <strong>NULL Teacher</strong>  for newly added students with no Courses*/</div>
</span>

  <div class="mb-2 mt-3">
    <button class="btn btn-primary" [hidden]="myStudent" (click)="getMyStudents()" 
      (click)="myStudent=!myStudent" (click)="isStudent=true">
      Show My Students</button>
    <button class="btn btn-secondary" [hidden]="!myStudent" (click)="ngOnInit()" 
      (click)="myStudent=!myStudent" (click)="isStudent=true">
      Show All Students</button>

    <button class="btn btn-success" [hidden]="!isStudent" 
    (click)="isStudent=!isStudent" (click)="myStudent=false" (click)="getTeachers()"> 
      Show All Teachers</button>  
  </div>

  <teacher-Searcher [iswhere]="iswhere" [teacherMode]="!isStudent" [TableList]="allStudents" [id]="id"></teacher-Searcher>


</div>
</body>