<body id="bodypart">
  <nav-menu [iswhereN]="iswhere" [Nid]=id></nav-menu>
  
<div class="container">

  <div class="form-group card">
    <div class="card-body  bg-light">
      <label for="search">Search</label> 
        <input id="search" class="form-control well" type="text" 
        placeholder="Enter Student Name or Student ID" name="searchval"
        [(ngModel)]="searchVal"
        (ngModelChange)="searcher()">
    </div>
  </div>

  <div class="mb-2 mt-3">
    <button class="btn btn-primary" [hidden]="isStudent" (click)="getisStudents()" 
      (click)="isStudent=!isStudent">
      Search Students</button>
    <button class="btn btn-secondary" [hidden]="!isStudent" (click)="ngOnInit()" 
      (click)="isStudent=!isStudent">
      Search Teachers</button>
  </div>


  <teacher-Searcher [iswhere]="iswhere" [teacherMode]="!isStudent" [TableList]="allStudents" [id]="id"></teacher-Searcher>

</div>

</body>